.cabeçalho {
  display: flex;
  justify-content: space-between;
}

.check {

}

img {

}

.imagem__menu {
   height: 24px;
   width: 24px;
   background-image: url(../imagem/Menu.svg);
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
}



.lista__menu {

}

.lista__lista {

}