@media  screen and (min-width:768px)  { /* TABLET*/
    img {
        margin: 0px 0px 0px 16em;
    }

    a { 
        padding: 25px;
        margin: 0px 15em 0px 15em;
    }

    
}

@media screen and (min-width:1200px) { /* DESKTOP */
    img {
        margin: 0px 0px 0px 32em;
    }

    a {
        margin: 20px 28em 20px 28em;
    }

    h2 {
        margin-right: 8em;
    }
}
    .sessao__divisao2 {

    }

    .sessao {
        display: flex;
        justify-content: space-between;
        
    }
@media screen and (min-width: 1600px)  { /* LAPTOP */
    img {
            margin: 0px 0px 0px 35em;
        
    }

    a {
        margin: 20px 15em 20px 15em;
    }
}

