@import url('https://fonts.googleapis.com/css2? family= Montserrat:ital,wght@1,300 & display=swap');
@import url("medias/tablet.css");
@import url("medias/desktop.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
   --branco: #DBC5B6;
   --azul: #666EF9;
}

body {
   background-color: black;
}

.cabecalho {

}

h1 {
   font-family: 'Montserrat', sans-serif;
   color: white;
   text-align: center;
    
}

h2 {
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin: 25px;
}

.sessao {

}

.sessao__divisao1 {

}

img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 9.3em
}

a {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: var(--azul) ;
    border-radius: 15px;
    margin: 20px 9em 20px 9.6em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.sessao__divisao2 {
   
    
}

